@import "common.css";


.enrollInfo {
    width: 630px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 95px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0 0 7px 5px;
}

.enrollInfo button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--navy-blue);
    color: #fff;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color .2s ease-in;
}

.enrollInfo button:hover {
    background-color: var(--sky-blue);
}

.enrollInfo button:focus {
    background-color: var(--navy-blue);
}

.enrollContent {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.enrollContent h3 {
    font-size: 30px;
    margin-bottom: 30px;
    color: var(--navy-blue);
}

.enrollData {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
}

.enrollData label {
    font-size: 14px;
    letter-spacing: 1.1px;
    color: var(--black);
    font-weight: 500;
    letter-spacing: 1.75px;
    margin-bottom: 5px;
}

.enrollData input {
    font-size: 16px;
    letter-spacing: 1.75px;
    color: var(--black);
    border: 2px solid var(--gray);
    /* background-color: var(--light-blue); */
    border-radius: 3px;
    padding: 5px 0;
    padding-left: 10px;
    margin-top: 5px;
    transition: border .2s ease-in;
}

.enrollData input:focus {
    border: 2px solid var(--navy-blue);
}

#publicKey {
    font-size: 12px;
}

@media screen and (max-width: 810px) {
    .enrollInfo {
        width: 100%;
    }
}