.homePageContainer {
    padding-top: 30px;
}

.homePageNewsCard {
    overflow: auto;
}

.homePageContent {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .secondaryElement {
        display: none;
    }
}