.postArticleForm {
    width: 730px;
    margin: 0 auto;
    padding: 40px 0 60px 0;
    /* border: 1px solid black; */
}

.postArticleForm img {
    width: 100%;
}

.publisherPersonalData {
    display: flex;
}

.publisherPersonalData .formInput:first-child {
    width: 500px;
    margin-right: 30px;
}

.formInput {
    border: 1px solid var(--gray-border);
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 10px;
}

.formInput label {
    font-size: 1rem;
    font-weight: 100;
    margin-bottom: 12px;
}

.formInput input,
.formInput textarea {
    font-size: 1.125rem;
    padding: 5px;
    border: 0;
    background-color: var(--light-gray);
    border: 2px solid var(--light-gray);
    border-radius: 5px;
    transition: border .2s ease-in, background-color .2s ease-in;
}

.formInput textarea {
    font-size: 0.875rem;
    height: 500px;
    outline: none;
    resize: none;
}

.formInput input:hover,
.formInput textarea:hover {
    border: 2px solid var(--gray);
}

.formInput input:focus,
.formInput textarea:focus {
    border-color: var(--navy-blue);
    background-color: #fff;
}

.formInput textarea {
    background-color: #fff;
}

.formHashtagList {
    display: flex;
}

.formHashtag {
    display: inline-block;
    margin-right: 10px;
}

.formHashtag label {
    display: inline-block;
    font-weight: 400;
    padding: 5px 12px;
    margin-bottom: 0;
    border-radius: 5px;
    color: var(--black);
    background-color: var(--light-gray);
    cursor: pointer;
    transition: border .2s ease-in, background-color .2s ease-in;
}

.formHashtag label:hover {
    background-color: var(--gray);
}

.formHashtag input {
    display: none;
}

.formHashtag input:checked+label {
    color: #fff;
    background-color: var(--navy-blue);
}

.formInputUploadPhoto {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    color: #fff;
    justify-content: center;
    background-color: var(--sky-blue);
    border-color: var(--sky-blue);
    transition: border .2s ease-in, background-color .2s ease-in;
}

.formInputUploadPhoto .uploadPhoto {
    display: inline-block;
    margin-left: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

.uploadPhoto+input {
    display: none;
}

.formTotal {
    text-align: right;
}

.formTotal .currencyTotal {
    text-align: end;
    padding-bottom: 16px;
    margin-bottom: 30px;
    border-bottom: 1px solid var(--black);
}

.formTotal .currencyTotal span:nth-child(1) {
    font-size: 1rem;
}

.formTotal .currencyTotal span:nth-child(2) {
    margin-left: 10px;
    font-size: 2.25rem;
}

.formTotal .currencyTotal span:nth-child(3) {
    margin-left: 10px;
    font-size: 1rem;
}

.formTotal input {
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    background-color: var(--sky-blue);
    border: 1px solid var(--sky-blue);
    border-radius: 5px;
    padding: 16px;
    transition: border .2s ease-in, background-color .2s ease-in;
}

.formInputUploadPhoto:hover,
.formTotal input:hover {
    border-color: var(--navy-blue);
    background-color: var(--navy-blue);
}

.formInputUploadPhoto:active,
.formTotal input:active {
    border-color: var(--deep-blue);
    background-color: var(--deep-blue);
}