.rankingPosition {
    display: block;
    padding: 20px 0;
    padding-left: 5px;
    border-radius: 5px;
}

.rankingPosition .medals {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    vertical-align: top;
}

.rankingPosition:hover {
    background-color: var(--black-alpha-05);
}

.rankingPosition:active {
    background-color: var(--gray);
}

.rankingItemListTitle {
    padding-bottom: 16px;
}

.rankAccount {
    float: left;
    width: 116px;
    padding-right: 55px;
    height: 22px;
    display: flex;
    align-items: center;
    color: var(--black);
}

.rankScore {
    float: left;
    width: 60px;
    padding-right: 30px;
    color: var(--black);
}

.rankSequence {
    color: var(--black);
}

.rankingItemMemberInformation {
    position: relative;
    z-index: 1;
}

.rankingItemMemberInformation .memberInformation {
    position: absolute;
    top: 0;
    left: -110px;
    z-index: 100;
}